@model IEnumerable<Repuesto>
@{
	ViewData["Title"] = "Index";
    string ShrinkTitle(string title)
    {
        return title.Length > 20 ? $"{title.Substring(0, 20)}..." : title;
    }
}
<link rel="stylesheet" type="text/css" href="~/css/estilos.css">

<div class="text-center my-4">
    <h1 class="display-4 text-primary">MotorMax</h1>
    <p class="lead text-secondary">El sitio de compra de repuestos que buscabas al precio que necesitás</p>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card shadow">
                <img src="@item.Imagen" class="card-img-top rounded" alt="Imagen del repuesto" />
                <div class="card-body">
                    <h5 class="card-title text-primary">@ShrinkTitle(@item.Descripcion)</h5>
                    <p class="card-text text-info">@item.Categoria.NombreCategoria</p>
                    <p class="card-text text-secondary">Precio lista: <strike><b>@(item.PrecioLista.ToString("C"))</b></strike></p>
                    <p class="card-text text-secondary">Baja hasta: <b>@item.Precio100.ToString("C")</b></p>
                </div>
                <div class="card-footer">
                    <a asp-action="Details" class="btn btn-secondary btn-block" asp-route-repuestoId="@item.RepuestoId">Detalles</a>
                </div>
            </div>
        </div>
    }
</div>
